pip>=23.0.0
stablepy==0.6.5
diffusers
transformers
accelerate
torch==2.5.1
numpy<2
gdown
opencv-python
hf_xet
hf_transfer
scikit-build-core
pybind11>=2.12
rapidfuzz
torchvision
optimum[onnxruntime]
git+https://github.com/John6666cat/dartrs
translatepy
timm
wrapt-timeout-decorator
sentencepiece
unidecode
matplotlib-inline
https://github.com/mjun0812/flash-attention-prebuild-wheels/releases/download/v0.4.11/flash_attn-2.8.3+cu124torch2.5-cp310-cp310-linux_x86_64.whl
gradio
huggingface-hub
